In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

In [ ]:
data = [
    ['laptop','Eraser','Mouse','Scale'],
    ['Box','Colours','Mouse','Scale'],
    ['laptop','Keyboard','Eraser','Mouse']
]

In [ ]:
te = TransactionEncoder()

In [ ]:
transform_data = te.fit(data).transform(data)

In [ ]:
df = pd.DataFrame(transform_data,columns = te.columns_)

In [ ]:
df

NameError: ignored

In [ ]:
#build the model
frq_items = apriori(df, min_support = 0.6 , use_colnames = True)

#Collecting inferred rules in dataframe
rules = association_rules(frq_items ,metric="lift", min_threshold = 1)

In [ ]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Pen),(Compass),1.000000,0.666667,0.666667,0.666667,1.0,0.0,1.0
1,(Compass),(Pen),0.666667,1.000000,0.666667,1.000000,1.0,0.0,inf
2,(Compass),(Pencil),0.666667,1.000000,0.666667,1.000000,1.0,0.0,inf
3,(Pencil),(Compass),1.000000,0.666667,0.666667,0.666667,1.0,0.0,1.0
4,(Pen),(Pencil),1.000000,1.000000,1.000000,1.000000,1.0,0.0,inf
5,(Pencil),(Pen),1.000000,1.000000,1.000000,1.000000,1.0,0.0,inf
6,"(Pen, Compass)",(Pencil),0.666667,1.000000,0.666667,1.000000,1.0,0.0,inf
7,"(Pen, Pencil)",(Compass),1.000000,0.666667,0.666667,0.666667,1.0,0.0,1.0
8,"(Compass, Pencil)",(Pen),0.666667,1.000000,0.666667,1.000000,1.0,0.0,inf
9,(Pen),"(Compass, Pencil)",1.000000,0.666667,0.666667,0.666667,1.0,0.0,1.0
10,(Compass),"(Pen, Pencil)",0.666667,1.000000,0.666667,1.000000,1.0,0.0,inf
11,(Pencil),"(Pen, Compass)",1.000000,0.666667,0.666667,0.666667,1.0,0.0,1.0